<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/index.css">
  </head>
  <body>
<div>
    <form  action="/initialize" method="get">
      <label for="name">Как зовут вашего питомца</label>
      <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="" placeholder="Name">
      </div>
      <button type="submit" value="Start">Start</button>
    </form>
</div>

  </body>
</html>
