<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>My Cv</title>

</head>
<body>
<section class="body-container">
  <header class="row">
    <div class="col-lg-4 logo">
      <%=  image_tag "1.jpg", height: 300 %>
    </div>
    <div class="col-lg-8 contact-info">
      <h2>CONTACT</h2>
      <p>Тел: +38 096 25 35 790</p>
      <p>Telegram/Viber: +38 096 25 35 790</p>
      <p>e-mail: yaroslav081990@gmail.com</p>
    </div>
  </header>
</section>

<section>

</section>





  </div>

</body>
</div>
</html>
