<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>My Cv</title>

</head>
<body>
<section>
  <header class="row">
    <div class="col-lg-5 logo">
      <%=  image_tag "1.jpg", height: 350 %>
    </div>
    <div class="col-lg-7 contact-info">
      <h2>CONTACT</h2>
      <p>Тел: +38 096 25 35 790</p>
      <p>Telegram/Viber: +38 096 25 35 790</p>
      <p>e-mail: yaroslav081990@gmail.com</p>
    </div>
  </header>
</section>

<section>
  <div class="row">
    <div class="col-lg-5 main-block_text">
      <h1 class="text-cv">Ярослав Стеценко</h1>
      <p class="text-cv">Motion designer
        відеомонтажер</p>
      <h2 class="text-cv">KEY SKILLS</h2>
      <h3 class="text-cv">Motion design</h3>
      <ol class="text-cv">
        <li>Моушн дизайн</li>
        <li>Шейпова анімація</li>
        <li>2D</li>
        <li>Кеінг</li>
        <li>Трекінг</li>
        <li>Клінап</li>
        <li>Монтаж відео</li>
      </ol>
      <h2 class="text-cv">Курси</h2>
      <ol class="text-cv">
        <li>GeekHub: Motion design</li>
        <li>Super After Effects 1, 2</li>
        <li>Super Premiere Pro</li>
        <li>Креативна практика: Основи дизайну</li>
      </ol>
      <h2 class="text-cv">Інструменти</h2>
      <ol class="text-cv">
        <li>Adobe Premiere Pro</li>
        <li>Adobe After Effects</li>
        <li>Adobe Illustrator</li>
        <li>Adobe Photoshop</li>
        <li>Cinema 4D</li>
        <li>Mocha AE</li>
      </ol>
    </div>
    <div class="col-lg-7">
      <div class="img-block">
        <%=  image_tag "2.png" %>
      </div>


      <h2>E X P E R I E N C E</h2>
    </div>



  </div>



</section>


</body>
</html>
